app-main {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: none;
  gap: 1rem;
  margin: 1rem auto;
  max-width: 576px;
  width: 100%;
}

@media (width >=768px) {
  app-main {
    grid-template-columns: minmax(0, 225px) minmax(0, auto);
    grid-template-areas:
      "profile feed"
      "community feed"
      ". news"
      ". footer";
    max-width: 720px;
  }
}

@media (width >=1024px) {
  app-main {
    grid-template-columns: minmax(0, 225px) minmax(0, auto) minmax(0, 300px);
    grid-template-areas:
      "profile feed news"
      "community feed footer";
    max-width: 960px;
  }
}

@media (width >=1200px) {
  app-main {
    max-width: 1128px;
  }
}