main {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: none;
  gap: 1rem;
  margin: 0 auto;
  max-width: 576px;
}

@media (width >=768px) {
  main {
    grid-template-columns: minmax(0, 225px) minmax(0, auto);
    max-width: 720px;
  }
}

@media (width >=1024px) {
  main {
    grid-template-columns: minmax(0, 225px) minmax(0, auto) minmax(0, 300px);
    max-width: 960px;
  }
}

@media (width >=1280px) {
  main {
    grid-template-columns: minmax(0, 225px) minmax(0, auto) minmax(0, 300px);
    max-width: 1128px;
  }
}