/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

app-root {
  display: grid;
  height: 100dvh;
  width: 100dvw;
  grid-template-rows: 3.5rem 1fr;
  background-color: #F4F2EE;
}